@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}


:root {
  --background: #E3F2FD;
  --foreground: #171717;
}

body {
  width: 90%; /* 讓 body 縮小 10% */
  margin: 0 auto; /* 中心對齊 */
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
